In [2]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

from bs4 import BeautifulSoup
import requests
import re

url = "https://www.iowa-demographics.com/zip_codes_by_population"
myRequest = requests.get(url)
soup = BeautifulSoup(myRequest.text,"html.parser")

zipPops = {}

# for code in soup.find_all('a'):
#     text = code.text
#     if text[0].isdigit():
#         print(text)

res = []

for code in soup.find_all('tr'):

    inner = code.find_all('td')

    if len(inner) == 0:
        continue
    else:
        for item in inner:
            item = str(item).split()
            res.append(item)
            

            # print(item)
        
res = res[:-1]
# print(res)

for i in range(0, len(res), 3):

    val = res[i][-3]

    #print(val)
    if val == "TIE":
        #print("do stuff")

        and_count = 0
        rel = res[i+1]

        to_add = []

        for j in range(len(rel)):


            if re.search(r'f=\"(\d+)', rel[j]) is not None:

                to_add.append(re.search(r'f=\"(\d+)', rel[j]).group(1))

        popspot = res[i+2][1]
        pop = re.search(r"\d+,?\d+", popspot).group()

        for zipcode in to_add:

            zipPops[int(zipcode)] = pop


    else:
        
    # if i % 3 == 2:
        codespot = res[i+1][2]
        code = re.search(r"\d+", codespot).group()
        popspot = res[i+2][1]
        pop = re.search(r"\d+,?\d+", popspot).group()
        zipPops[int(code)] = pop



#

# print(soup)

In [3]:
zipcode_data = pd.Series(zipPops).to_frame().reset_index()

In [4]:
zipcode_data = zipcode_data.rename(columns={"index": "Zip Code", 0: "Population"})

In [5]:
iowa = pd.read_csv("/Users/mdbarshay/Desktop/401/Project 1/iowa-sample.csv")

In [6]:
iowa["Date"] = iowa["Date"].astype("datetime64")

In [7]:
merged_iowa = pd.merge(iowa, zipcode_data, on = "Zip Code", how = "left")

In [8]:
merged_iowa["Population"] = merged_iowa["Population"].str.replace(",", "").astype(float)

In [16]:
final_simple = merged_iowa.groupby(["Zip Code", "Date", "Population"])[["State Bottle Cost", "State Bottle Retail", "Volume Sold (Liters)"]].sum()

In [17]:
final = final_simple.reset_index()

In [18]:
final

,Zip Code,Date,Population,State Bottle Cost,State Bottle Retail,Volume Sold (Liters)
0,50003,2013-08-27,7118.0,27.00,40.50,0.75
1,50009,2012-02-02,19559.0,21.21,31.81,0.80
2,50009,2012-07-12,19559.0,10.14,15.58,2.25
3,50009,2013-03-07,19559.0,9.97,14.96,9.00
4,50009,2013-12-30,19559.0,6.83,10.24,0.50
...,...,...,...,...,...,...
968,52807,2014-12-10,15638.0,10.49,15.74,9.00
969,52807,2015-02-04,15638.0,21.05,31.58,32.50
970,52807,2015-05-13,15638.0,26.49,39.74,1.75
971,52807,2015-08-12,15638.0,4.55,6.83,6.00
972,52807,2015-11-11,15638.0,7.28,10.92,48.00